@import "tailwindcss";
@import "tailwindcss-animated";

.font-noto-sans-jp {
    font-family: "Noto Sans JP", sans-serif;
    font-optical-sizing: auto;
    font-weight: var(--font-weight-normal);
    font-style: normal;
}

.font-montserrat {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: var(--font-weight-normal);
    font-style: normal;
}

.font-inter {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: var(--font-weight-normal);
    font-style: normal;
}

section {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 1rem;
}

section header h2 {
    font-size: var(--text-4xl);
    font-weight: var(--font-weight-medium)
}

section header p {
    font-size: var(--text-xl);
    font-weight: var(--font-weight-light);
}

section#hero p {
    color: var(--color-zinc-700);

    @media (width >=64rem) {
        max-width: 40vw;
    }

    @media (prefers-color-scheme: dark) {
        color: var(--color-zinc-300);
    }
}
