@import url(https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700;800&display=swap);
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --color-background: #202334;
    --color-text-white: #eeeeee;
    --color-text-orange: #f4c482;
    --color-text-gray: #333333;
    --color-background-blue: #061019;
    /* Alternating background colors */
    --color-section-1: #061019;
    --color-section-2: #0c1620;
    --color-section-3: #eeeeee;
}

* {
    margin: 0;
    background-color: inherit;
    color: var(--color-text-white);
    font-family: "Ubuntu", sans-serif;
}

body {
    background-color: var(--color-background-blue);
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.container {
    background-color: inherit;
    max-width: 900px;
    width: 100%;
    justify-content: center;
}

section {
    display: flex;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

/* Make each section alternate between different colors */
section:nth-child(3n+1) {
    background-color: var(--color-section-1);
}

section:nth-child(3n+2) {
    background-color: var(--color-section-2);
}

section:nth-child(3n+3) {
    background-color: var(--color-section-3);
}

section:nth-child(3n+3) h1, section:nth-child(3n) p, section:nth-child(3n) b {
    color: var(--color-text-gray);
}

nav {
    width: 100%;
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0px;
    left: 0px;
    overflow: hidden;
    background-color: #061019A0;
    border-bottom: 1px solid var(--color-text-orange);
    backdrop-filter: blur(7.5px);
    padding: 0;
}

nav div.container {
    display: flex;
    justify-content: center;
    background-color: transparent;
}

nav ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 0;
}

nav li {
    margin: 1em 0.5em;
}

nav a {
    display: flex;
    justify-content: center;
    text-decoration: none;
    text-align: center;
}

nav a:hover,
a.active {
    color: var(--color-text-orange);
}

section .container {
    padding: 7em 2em;
    overflow: hidden;
}

section#hero div.container {
    padding: 7em 2em;
    display: flex;
    align-items: center;
    flex-direction: column;
}

section#hero h1 {
    font-family: "Poppins", sans-serif;
    line-height: 1em;
    background-color: inherit;
    color: var(--color-text-orange);
    font-size: 5em;
    text-align: center;
}

section#hero h2 {
    width: auto;
    font-family: monospace;
    font-size: 1.5em;
    letter-spacing: .15em;
    font-weight: normal;
}

section#hero h2 span.typewriter {
    border-right: .15em solid var(--color-text-orange);
    animation:
        blink-caret .5s step-end infinite;
}

section#hero p {
    padding: 3em 1em;
    text-align: center;
}

@keyframes blink-caret {

    from,
    to {
        border-color: transparent
    }

    50% {
        border-color: var(--color-text-orange);
    }
}

/* Scrollbar */

::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
        background-color: var(--color-text-gray);
}

::-webkit-scrollbar
{
	width: 7px;
        background-color: var(--color-text-gray);
}

::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #555;
}

section#contact div.container {
    align-items: center;
    justify-content: center;
    text-align: center;
}

section#contact ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    margin-top: 1em;
    padding: 0;
    justify-content: center;
}

section#contact li {
    padding: 0.5em;
}

section#contact img {
    width: 35px;
    height: 35px;
}