@import "tailwindcss";

.nav-item::after {
  content: "";
  display: block;
  width: 100%;
  margin-top: 0.25rem;
  height: 2px;

  :hover {
    background-color: var(--color-cyan-500);
  }
}

/** Borrowed from: https://www.yuridenki.co.jp/ */
.scroll-line {
  /* display: block; */
  position: absolute;
  left: 4%;
  bottom: 8%;
  width: 1px;
  height: 120px;
  transition: all 1.4s;
}

.scroll-line::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 1px;
  height: 100%;
  margin: 0;
  background-image: linear-gradient(to bottom,
      #666,
      #666 1px,
      transparent 1px,
      transparent 3px);
  background-size: 2px 3px;
  background-repeat: repeat-y;
}

.scroll-line::after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  width: 1px;
  background-color: #666;
  -webkit-animation: lineMove 3s ease infinite;
  animation: lineMove 3s ease infinite;
}

@keyframes lineMove {
  0% {
    bottom: 100%;
    height: 0;
  }

  20% {
    bottom: 0;
    height: 100%;
  }

  40% {
    bottom: 0;
    height: 0;
  }

  100% {
    bottom: 0;
    height: 0;
  }
}
