---
import "../styles/global.css";

const { title } = Astro.props;
---

<html lang="en-US">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" type="image/svg+xml" href="/favicon.png" />
    <title>{title} | Nicolas Gonzalez</title>
  </head>
  <body class="inter bg-zinc-100 text-black dark:bg-zinc-900 dark:text-white">
    <main>
      <slot />
    </main>
  </body>
</html>
